<?xml version="1.0" encoding="UTF-8"?>
<!--
DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

Copyright 2000-2007 Sun Microsystems, Inc. All rights reserved.

The contents of this file are subject to the terms of either the GNU
General Public License Version 2 only ("GPL") or the Common Development
and Distribution License("CDDL") (collectively, the "License").  You
may not use this file except in compliance with the License. You can obtain
a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
language governing permissions and limitations under the License.

When distributing the software, include this License Header Notice in each
file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
Sun designates this particular file as subject to the "Classpath" exception
as provided by Sun in the GPL Version 2 section of the License file that
accompanied this code.  If applicable, add the following below the License
Header, with the fields enclosed by brackets [] replaced by your own
identifying information: "Portions Copyrighted [year]
[name of copyright owner]"

Contributor(s):

If you wish your version of this file to be governed by only the CDDL or
only the GPL Version 2, indicate your decision by adding "[Contributor]
elects to include this software in this distribution under the [CDDL or GPL
Version 2] license."  If you don't indicate a single choice of license, a
recipient has the option to distribute your version of this file under
either the CDDL, the GPL Version 2 or to extend the choice of license to
its licensees as provided above.  However, if you add GPL Version 2 code
and therefore, elected the GPL Version 2 license, then the option applies
only if the new code is made subject to such option by the copyright
holder.
-->
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:display-name>Archetype Created Web Application</javaee:display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetCategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRDishesServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetRDishesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceLoginServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.DeviceLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountLoginServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.AccountLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.UpdateCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRestListServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetRestListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRestInfoServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetRestInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRestsServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.SearchRestsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTableInfoServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetTableInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfterScanServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.AfterScanServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CheckTableServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.CheckTableServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllTablesServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetAllTablesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDishesByCatServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetDishesByCatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScanServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.ScanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCommentServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WriteCommentServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.WriteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRestDetailServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetRestDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WriteRcommentServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.WriteRcommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrdersServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDishServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetDishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDishesServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.GetDishesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitBookOrder</servlet-name>
    <servlet-class>com.qrrest.servlet.SubmitBookOrder</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <url-pattern>/servlet/GetCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRDishesServlet</servlet-name>
    <url-pattern>/servlet/GetRDishesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceLoginServlet</servlet-name>
    <url-pattern>/user/login_with_device</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountLoginServlet</servlet-name>
    <url-pattern>/user/login_with_account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/user/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustServlet</servlet-name>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRestListServlet</servlet-name>
    <url-pattern>/book/get_rest_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRestInfoServlet</servlet-name>
    <url-pattern>/restaurants/rinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRestsServlet</servlet-name>
    <url-pattern>/book/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTableInfoServlet</servlet-name>
    <url-pattern>/tables/tinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/tables/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfterScanServlet</servlet-name>
    <url-pattern>/tables/take</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CheckTableServlet</servlet-name>
    <url-pattern>/tables/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllTablesServlet</servlet-name>
    <url-pattern>/tables/tables_by_rid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDishesByCatServlet</servlet-name>
    <url-pattern>/menu/dishes_by_cat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScanServlet</servlet-name>
    <url-pattern>/order/scan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommentServlet</servlet-name>
    <url-pattern>/order/get_comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteCommentServlet</servlet-name>
    <url-pattern>/order/write_comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/order/submit_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRestDetailServlet</servlet-name>
    <url-pattern>/book/get_rest_detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteRcommentServlet</servlet-name>
    <url-pattern>/book/write_comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrdersServlet</servlet-name>
    <url-pattern>/history/list_orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderServlet</servlet-name>
    <url-pattern>/history/get_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDishServlet</servlet-name>
    <url-pattern>/history/get_dish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/history/del_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDishesServlet</servlet-name>
    <url-pattern>/book/get_dishes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitBookOrder</servlet-name>
    <url-pattern>/book/submit_bookorder</url-pattern>
  </servlet-mapping>
  
  
  <!--  app  -->
 
  
  <filter>
    <filter-name>AppEncodingFilter</filter-name>
    <filter-class>com.qrrest.filter.app.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AppEncodingFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>AppDeviceLoginServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.DeviceLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppGetAllRestVosServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.GetAllRestVosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppGetRestVoDetailServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.GetRestVoDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppGetDishesVoForBookServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.GetDishesVoForBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppGetDishesVoForOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.GetDishesVoForOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppSubmitBookOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.SubmitBookOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppGetMixedOrderServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.app.GetMixedOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppWSOrderServlet</servlet-name>
    <servlet-class>com.qrrest.ws.app.WSOrderServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>AppDeviceLoginServlet</servlet-name>
    <url-pattern>/app/login_with_device</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppGetAllRestVosServlet</servlet-name>
    <url-pattern>/app/get_all_rests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppGetRestVoDetailServlet</servlet-name>
    <url-pattern>/app/get_rest_detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppGetDishesVoForBookServlet</servlet-name>
    <url-pattern>/app/get_dishes_for_book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppGetDishesVoForOrderServlet</servlet-name>
    <url-pattern>/app/get_dishes_for_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppSubmitBookOrderServlet</servlet-name>
    <url-pattern>/app/submit_book_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppGetMixedOrderServlet</servlet-name>
    <url-pattern>/app/get_mixed_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppWSOrderServlet</servlet-name>
    <url-pattern>/app/ws_order</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- admin -->
  
  
  <filter>
    <filter-name>AdminEncodingFilter</filter-name>
    <filter-class>com.qrrest.filter.admin.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminEncodingFilter</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>com.qrrest.filter.admin.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminVerifycodeServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.VerifycodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminTableEditorServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.TableEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRestDishCatEditorServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.RestDishCatEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPicUploaderGatewayServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.PicUploaderGatewayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPicUploaderCallbackServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.PicUploaderCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminDishEditorServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.DishEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRestaurantEditorServlet</servlet-name>
    <servlet-class>com.qrrest.servlet.admin.RestaurantEditorServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/Admin/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminVerifycodeServlet</servlet-name>
    <url-pattern>/Admin/Verifycode.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTableEditorServlet</servlet-name>
    <url-pattern>/Admin/TableEditor.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRestDishCatEditorServlet</servlet-name>
    <url-pattern>/Admin/RestDishCatEditor.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPicUploaderGatewayServlet</servlet-name>
    <url-pattern>/Admin/PicUploaderGateway.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPicUploaderCallbackServlet</servlet-name>
    <url-pattern>/Admin/PicUploaderCallback.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminDishEditorServlet</servlet-name>
    <url-pattern>/Admin/DishEditor.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRestaurantEditorServlet</servlet-name>
    <url-pattern>/Admin/RestaurantEditor.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>/Admin/_Page_Welcome_.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
</web-app>